@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.umumi {
    justify-content: center;
    align-items: center;
    margin-left: 80px;
    position: relative;


}

.fidan {
    margin-left: 90px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.picturefst {
    margin-left: 720px;
    margin-top: 0;
    padding-top: 0;
}

.begin {
    font-family: 'Roboto Slab';
    width: 500px;
    font-weight: 1000;
    font-size: 60px;
    margin: 0px;
    padding: 0px 0px 5px 5px;

}

.esas {
    list-style-type: none;
    display: inline;
    margin-right: 0px;
    font-size: 15px;
    padding: 0px 0px 5px 50px;
    width: 400px;


}

.textfirst {
    width: 340px;
    margin: 0;
    position: absolute;
}

.parag {
    width: 300px;
    padding: 0px 0px 5px 85px;
    margin: 0;
    position: absolute;

}

.foot {
    margin-left: 300px;
    margin-top: 80px;

}

.etiket {
    vertical-align: middle;

}

span {
    vertical-align: middle;
    padding-left: 5px;
}

.all {
    width: 90%;
    margin: 0 auto;
    margin-left: 38px;
    margin-top: 100px;
}

.container {
    width: 600px;
    font-family: 'Roboto';
    font-size: 22px;
    margin-left: 5px;


}

.paraq {
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 144px;
}

.photo1 {
    margin-left: 126px;
    margin-top: 126px;
}

.footer {
    margin-top: 23px;
    display: flex;
    padding-left: 216px;
}

.second {
    margin-left: 18px;
    margin-top: 20px;
}

.paraq2 {
    width: 65%;
    display: flex;
    margin-top: 70px;
    justify-content: space-evenly;
    width: 48%;
    margin-left: 77px;
}

.text1 {
    width: 200px;
}

.text2 {
    width: 150px;
    margin-left: 30px;
}

.text3 {
    width: 100px;
}

h1 {
    font-family: 'Roboto Slab';
    font-weight: 900;
    font-size: 50px;
}

.valide {
    font-family: 'Roboto';
    font-size: 18px;
}

.ikili {
    display: flex;
}

.vali {
    height: 220px;
}

.head2 {
    font-family: 'Roboto', sans-serif;
}

.head1 {
    width: 667px;
    height: 93px;
    font-size: 55px;
    margin: 0;
    padding-bottom: 80px;
}

.header1 {
    width: 150px;
    height: 39px;
    font-size: 25px;
    line-height: 32.5px;
    color: #1E4681;
    margin: 0;
}

.p1 {
    width: 223px;
    height: 39px;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.header2 {
    width: 214px;
    height: 39px;
    font-size: 25px;
    line-height: 32.5px;
    color: #1E4681;
    margin: 0;
}

.p2 {
    width: 271px;
    height: 109px;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.header3 {
    width: 150px;
    height: 39px;
    font-size: 25px;
    line-height: 32.5px;
    color: #1E4681;
    margin: 0;
}

.p3 {
    width: 245px;
    height: 39px;
    font-size: 18px;
    line-height: 23.4px;
    margin: 0;
}

.head2 {
    width: 667px;
    height: 93px;
    font-size: 55px;
    line-height: 55.76px;
    margin: 0;
    padding-top: 80px;
    padding-bottom: 30px;
}

.secont {
    width: 678px;
    height: 384px;
    font-size: 20px;
    line-height: 36px;
    margin: 0;
}

.first {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wert {
    font-family: 'Roboto', sans-serif;
    margin-left: 170px;
    color: #000000;
    margin-top: 180px;
    margin-bottom: 210px;
    width: 900px;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 80px;
}

.card {
    width: 280px;
    height: 225px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 30px;
    margin-left: 24px;
    margin-bottom: 20px;
}

.card img {
    width: 100%;
    height: 50%;
}

.H {
    font-family: 'Roboto', sans-serif;
    padding-left: 20px;
    font-weight: 700;
    font-size: 22px;
    margin: 0px;
    padding: 0px 0px 5px 5px;


}

p {
    margin: 5px 15px;
    padding: 0px 0px 0px 4px;

}

.main {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 0px 0px 4px;


}

.different {
    font-family: 'Roboto', sans-serif;
    margin: 0px 0px 0px 5px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    font-weight: 700;
}

.different-main {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    font-size: 17px;
    font-weight: 500;
    padding: 0px 0px 0px 4px;


}

.empty {
    width: 21%;
    height: 225px;
    background: #FFFFFF;
    margin-right: 44px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.header {
    margin: 20px 50px 100px 190px;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    font-weight: 700px;
}


.ekatrina {
    position: relative;
    width: 100%;
    height: 780px;
    background: #efefef;
}

.EP {
    position: absolute;
    width: 353px;
    height: 59px;
    left: 246px;
    top: 263px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 101.38%;
}

.count-people {
    position: absolute;
    width: 987px;
    height: 93px;
    left: 155px;
    top: 60px;
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 700;
    font-size: 47px;
    line-height: 101.38%;
}

.metn {
    position: absolute;
    width: 700px;
    height: 203px;
    left: 45px;
    top: 40px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #000000;
}

.orta {
    position: absolute;
    width: 791px;
    height: 451px;
    left: 180px;
    top: 218px;

    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.fb-ep {
    position: absolute;
    width: 32px;
    height: 31px;
    left: 246px;
    top: 352px;
}

.face {
    position: absolute;
    width: 190px;
    height: 169px;
    left: 26px;
    top: 253px;
}

* {
    font-family: 'Roboto';
}

.section {
    background-color: #9DC9C8;
    width: 100%;

}

.blue {
    padding: 170px 450px 400px 120px;

}

.date {
    font-weight: 700;
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Roboto Slab';
}

.price {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto';
}

.amount {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 80px;
    margin-bottom: 25px;
}

.table tr td {
    padding: 0 15px 0 0;
}

.head td p {
    font-weight: 400;
    font-size: 25px;
    font-family: 'Roboto';
}

.end td p {
    font-weight: 400;
    font-size: 18px;
    font-family: 'Roboto';
}

.footeg {
    background-color: black;
    width: 100%;
}

.fleg {
    display: flex;
    justify-content: space-between;
    padding: 112px;

}

.item img {
    margin-left: 20px;
}

.list {
    list-style-type: none;
    margin-top: 30px;
    padding-left: 0;
    width: 300px;
}

.list li {
    display: inline-block;

}

.list li img {
    width: 20px;
}

.part {
    margin-left: 0
}

.gulcannat {
    padding: 4px 4px 0px 5px;

}

.gulcannat {
    padding: 4px 4px 0px 5px;
    list-style-type: none;
}

.gulcannat p {
    color: #fff;
}

.logos {
    margin-right: 20px;
}

.info {
    color: #fff;
    margin-top: 7px;

}

.bottom p {
    color: white;
    padding-left: 124px;
    padding-bottom: 16px;
}

@media screen and (max-width: 1279px) {
   
    .umumi {
        justify-content: center;
        align-items: center;
        margin-left: 5px;

    }

    .fidan {
        margin-left: 90px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .picturefst {
        margin-left: 220px;
        margin-top: 0;
        padding-top: 150px;
        padding-left: 250px;

    }

    .begin {
        font-family: 'Roboto Slab';
        width: 500px;
        font-weight: 1000;
        font-size: 60px;
        margin: 0px;
        padding: 0px 0px 5px 5px;

    }

    .esas {
        list-style-type: none;
        display: inline;
        margin-right: 0px;
        font-size: 15px;
        padding: 0px 0px 5px 50px;
        width: 400px;


    }

    .textfirst {
        width: 340px;
        margin: 0;

    }

    .parag {
        width: 300px;
        padding: 0px 0px 5px 85px;
        margin: 0;


    }

    .foot {
        margin-left: 150px;
        margin-top: 80px;

    }

    .etiket {
        vertical-align: middle;

    }

    span {
        vertical-align: middle;
        padding-left: 5px;
    }



    .container {
        width: 400px;
        font-family: 'Roboto';
        font-size: 17px;
    }

    .paraq {
        width: 30%;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        padding-left: 30px;
    }

    .photo1 {
        margin-left: 77px;
        margin-top: 86px;
    }

    .shekil {
        height: 60%;
    }

    .footer {
        margin-top: -36px;
        display: flex;
        padding-left: 118px;
    }

    .paraq2 {
        width: 59%;
        display: flex;
        margin-left: 0px;
        margin-top: 70px;
        justify-content: space-evenly;
        width: 48%;
        margin-right: 145px;
        margin-top: 92px;
    }

    .text1 {
        width: 180px;
    }

    .text2 {
        width: 200px;
        margin-left: 30px;
    }

    .text3 {
        width: 83px;
        margin-left: 3px;
    }

    .head1 {
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 44px;
    }

    .valide {
        font-family: Roboto;
        font-size: 18px;
    }

    .first {
        width: 211px;
        margin-left: 55%;
    }

    .ikili {
        display: contents;
        padding-left: 100px;
        margin: 0;
    }

    .vali {
        height: 150px;
        margin-top: 100px;
    }



    .wert {
        margin-left: 50px;
        width: 600px;
    }

    .head1 {
        width: 386.3px;
        height: 53.86px;
        font-size: 40px;
        line-height: 32.44px;
        margin: 0;
        
    }
    .head2{
        width: 386.3px;
        height: 53.86px;
        font-size: 40px;
        line-height: 32.44px;
        margin: 0;

    }

    .header1 {
        width: 86.88px;
        height: 22.59px;
        font-size: 15px;
        line-height: 19.5px;
        color: #1E4681;
        margin: 0;
    }

    .p1 {
        width: 153px;
        height: 22px;
        font-size: 11px;
        line-height: 14.3px;
        margin: 0;
    }

    .header2 {
        width: 123.94px;
        height: 22.59px;
        font-size: 15px;
        line-height: 19.5px;
        color: #1E4681;
        margin: 0;
    }

    .p2 {
        width: 172px;
        height: 63px;
        font-size: 11px;
        line-height: 14.3px;
        margin: 0;
    }

    .header3 {
        width: 86.88px;
        height: 22.59px;
        font-size: 15px;
        line-height: 19.5px;
        color: #1E4681;
        margin: 0;
    }

    .p3 {
        width: 141.9px;
        height: 22.59px;
        font-size: 11px;
        line-height: 14.3px;
        margin: 0;
    }

    .secont {
        width: 383.41px;
        height: 216.61px;
        font-size: 14px;
        line-height: 21px;
        margin: 0;
    }

    .first {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-left: 0px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 1100px;
        margin:  0px;
        padding-left: 0px;
    }

    .card {
        width: 281px;
        height: 225px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 31px;
        margin-right: 31px;
        margin-left: 26px;
        margin-bottom: 21px;
    }

    .card img {
        width: 100%;
        height: 50%;
    }

    .H {
        font-family: 'Roboto', sans-serif;
        padding-left: 20px;
        font-weight: 800;
        font-size: 17px;
        margin: 0px;
        padding: 0px 0px 5px 5px;


    }

    p {
        margin: 5px 15px;
        padding: 0px 0px 0px 4px;

    }

    .main {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
        padding: 0px 0px 0px 4px;


    }

    .different {
        font-family: 'Roboto', sans-serif;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 5px;
        font-weight: 900;
        font-size: 18px;
    }

    .different-main {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        font-size: 17px;
        font-weight: 500;
        padding: 0px 0px 0px 4px;

    }

    .empty {
        width: 281px;
        height: 225px;
        background: #FFFFFF;
        margin-right: 31px;
        margin-left: 26px;
        margin-bottom: 21px;
    }

    .header {
        margin: 20px 50px 100px 200px;
        font-family: 'Roboto Slab', serif;
        font-size: 5px;
        font-weight: 700px;
        margin-left: 60px;
        width: 600px;
    }

    .count-people {
        position: absolute;
        width: 600px;
        height: 53.86px;
        left: 71px;
        top: 34px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 101.38%;

        color: #000000;
    }

    .orta {
        position: absolute;
        width: 500px;
        height: 261.2px;
        left: 74px;
        top: 131px;

        background: #FFFFFF;
        box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
        border-radius: 17.375px;

    }

    .metn {
        position: absolute;
        width: 405.42px;
        height: 117.57px;
        left: 26px;
        top: 23px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 150%;
        color: #000000;
    }

    .fb-ep {
        position: absolute;
        width: 18.53px;
        height: 17.95px;
        left: 141px;
        top: 199px;
    }

    .face {
        position: absolute;
        width: 110.04px;
        height: 97.88px;
        left: 14px;
        top: 141px;
    }

    .EP {
        position: absolute;
        width: 204.45px;
        height: 34.17px;
        left: 141px;
        top: 154px;
        font-family: "Roboto Slab";
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 101.38%;
    }

    .ekatrina {

        position: relative;
        width: 1270px;
        height: 451.75px;
        background: #efefef;
    }

    *{
        font-family: 'Roboto';
    }

    .section{
        width: 1270px;
       
    }
    .date {
        font-size: 32px;
        font-weight: 700;
    }

    .blue {
        padding: 139px 76px;
        height: 500px;
       
    }

    .price {
        font-size: 14px;
    }

    .amount {
        font-size: 46px;
    }

    .fleg {
       
        padding: 62px;
    }

    .gulcannat img {
        width: 16px;

    }

    .gulcannat span {
        font-size: 14px;
    }
    .footeg{
        background-color: black;
       width: 1270px;
    }
    .bottom p {
        padding-left: 80px;
        width: 1100px;
    }
    .part{
        padding-left: 100px;
    }
   
   
}



@media screen and (max-width: 991px) {
    .umumi {
        justify-content: center;
        align-items: center;
        margin-left: 200px;
        
    
    }
    
    .fidan {
        margin-left: 90px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .picturefst {
        margin-left: 220px;
        margin-top: 150px;
        padding-top: 0;
    }
    
    .begin {
        font-family: 'Roboto Slab';
        width: 500px;
        font-weight: 1000;
        font-size: 60px;
        margin: 0px;
        padding: 0px 0px 5px 5px;
    
    }
    
    .esas {
        list-style-type: none;
        display: inline;
        margin-right: 0px;
        font-size: 15px;
        padding: 0px 0px 5px 50px;
        width: 400px;
    
    
    }
    
    .textfirst {
        width: 340px;
        margin: 0;
        position: absolute;
    }
    
    .parag {
        width: 300px;
        padding: 0px 0px 5px 85px;
        margin: 0;
        position: absolute;
    
    }
    
    .foot {
        margin-left: 80px;
        margin-top: 80px;
    
    }
    
    .etiket {
        vertical-align: middle;
        margin-bottom:10px;
    
    }
    .widget{
        display: block;
        
    }
    
    span {
        vertical-align: middle;
        
    }
    .andrei{
        padding-left: 0px;
        margin-left: 50px;
    }
    
    
    .container {
        width: 600px;
        font-family: 'Roboto';
        font-size: 17px;
        margin-bottom:40px ;
    }

    .test {
        width: 100%;
    }

    .paraq {
        flex-direction: column;
    }

    .vali {
        height: 300px;
    }

    .footer {
        padding-left: 200px;
    }

    h1 {
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 44px;
        width: 500px;
    }

    .valide {
        font-family: Roboto;
        font-size: 28px;
        width: 300px;
        padding-right: 50px;
    }

    .first {
        width: 211px;
        margin-left: 55%;
    }

    .second {
        display: none;
    }

    .paraq2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 28px;
    }

    .text1 {
        width: 140px;
    }

    .text2 {
        width: 300px;
        margin-left: 150px;
    }

    .text3 {
        width: 83px;
        margin-left: 100px;
    }

    .ikili {
        width: 232px;
        display: flex;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
    }
    h3{
        width: 300px;
    }

    .all {
        font-family: 'Roboto', sans-serif;
        padding-left: 200px;
        color: #000000;
    }

    .head1 {
        width: 310.8px;
        height: 43.34px;
        font-size: 26px;
        line-height: 26.36px;
        margin: 0;
    }

    .header1 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p1 {
        width: 400px;
        height: 100px;
        font-size: 20px;
        margin: 0;
    }

    .header2 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p2 {
        width: 300px;
        height: 100px;
        font-size: 20px;
        margin: 0;
    }

    .header3 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p3 {
        width: 300px;
        height: 70px;
        font-size: 20px;
        margin: 0;
    }
    
    .head2 {
        width: 500px;
        height: 43.34px;
        font-size: 60px;
        line-height: 26.36px;
        margin: 10px 0px 0px 0px;
    }
    .head1 {
        width: 800px;
        height: 43.34px;
        font-size: 60px;
        line-height: 26.36px;
        margin: 10px 0px 0px 0px;
    }
    li{
        font-size: 28px;
        padding-bottom: 18px;
    }

    .secont {
        width: 700px;
        height: 400px;
        font-size: 28px;
        line-height: 18px;
        margin: 0;
    }

    .first {
        flex-direction: column;
        font-size: 38px;
        width: 300px;
        margin: 0;
    }

    .wert {
        margin-left: 250px;
    }
    

    .count-people {
        position: absolute;
        width: 500px;
        height: 69px;
        left: 100px;
        top: 28px;
        bottom: 30px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 101.38%;
    }

    .face {
        position: absolute;
        width: 400px;
        height: 200px;
        left: 0px;
        top: 280px;
        
    }

    .fb-ep {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 330px;
        top: 400px;
    }

    .EP {
        position: absolute;
        width: 400px;
        height: 32.73px;
        left: 300px;
        top: 320px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 101.38%;
    }

    .ekatrina {
        position: relative;
        width: 1160px;
        height: 900px;
        background: #EFEFEF;
    }

    .metn {
        position: absolute;
        width: 500px;
        height: 300px;
        left: 21px;
        top: 18px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;



        color: #000000;
    }

    .orta {
        position: absolute;
        width: 800px;
        height: 600px;
        left: 100px;
        top: 180px;

        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 70%;
        margin-left: 150px;
    }

    .card {
        width: 281px;
        height: 225px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-right: 30px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    .card img {
        width: 100%;
        height: 50%;
    }

    .H {
        font-family: 'Roboto', sans-serif;
        padding-left: 20px;
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 5px 5px;


    }

    p {
        margin: 5px 15px;
        padding: 0px 0px 0px 4px;

    }

    .main {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 0px 0px 0px 4px;


    }

    .different {
        font-family: 'Roboto', sans-serif;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 5px;
        font-weight: 700;
        font-size: 18 px;

    }

    .different-main {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
        padding: 0px 0px 0px 4px;
    }

    .empty {
        display: none;
    }

    .header {
        margin: 20px 100px 40px 290px;
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        font-weight: 700px;
    }


    .fleg {
        display: flex;
        flex-direction: column;
       
    }

    .part {
        margin-left: 0px;
        padding-left: 0px;
    }

    .gulcannat span {
        font-size: 12px;
    }

    .date {
        font-size: 26px;
        font-weight: 700;
    }

    .price {
        font-size: 12px;
    }

    .amount {
        font-size: 37px;
    }

    .head td p {
        font-size: 12px;
    }

    .end span {
        font-size: 10px;

    }

    .table tr td {
        padding: 0;
       
    }
    

    .bottom p {
        font-size: 10px;
        width: 800px;
    }

    .list li img {
        width: 16px;
    }
    .section{
        width: 1160px;
    }
    .footeg{
        width: 1160px;
    }
}
@media screen and (max-width: 375px) {
    .umumi {
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }
    
    .fidan {
        margin-left: 90px;
        padding-top: 20px;
        padding-bottom: 40px;
    }
    
    .picturefst {
        margin-left: 220px;
        margin-top: 150px;
        padding-top: 0;
    }
    
    .begin {
        font-family: 'Roboto Slab';
        width: 500px;
        font-weight: 1000;
        font-size: 60px;
        margin: 0px;
        padding: 0px 0px 5px 5px;
    
    }
    
    .esas {
        list-style-type: none;
        display: inline;
        margin-right: 0px;
        font-size: 15px;
        padding: 0px 0px 5px 50px;
        width: 400px;
    
    
    }
    
    .textfirst {
        width: 340px;
        margin: 0;
        position: absolute;
    }
    
    .parag {
        width: 300px;
        padding: 0px 0px 5px 85px;
        margin: 0;
        position: absolute;
    
    }
    
    .foot {
        margin-left: 80px;
        margin-top: 80px;
    
    }
    
    .etiket {
        vertical-align: middle;
        
    
    }
    .widget{
        display: block;
    }
    
    
    span {
        vertical-align: middle;
        padding-left: 5px;
    }
    .andrei{
        padding-left: 0px;
        margin-left: 50px;
    }
    
    
    .container {
        width: 600px;
        font-family: 'Roboto';
        font-size: 17px;
        margin-bottom:40px ;
    }

    .test {
        width: 100%;
    }

    .paraq {
        flex-direction: column;
    }

    .vali {
        height: 300px;
    }

    .footer {
        padding-left: 200px;
    }

    h1 {
        font-family: 'Roboto Slab';
        font-weight: 900;
        font-size: 44px;
        width: 500px;
    }

    .valide {
        font-family: Roboto;
        font-size: 28px;
        width: 300px;
        padding-right: 50px;
    }

    .first {
        width: 211px;
        margin-left: 55%;
    }

    .second {
        display: none;
    }

    .paraq2 {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 70px;
        justify-content: space-between;
        flex-wrap: wrap;
        font-size: 28px;
    }

    .text1 {
        width: 140px;
    }

    .text2 {
        width: 300px;
        margin-left: 150px;
    }

    .text3 {
        width: 83px;
        margin-left: 100px;
    }

    .ikili {
        width: 232px;
        display: flex;
    }

    h1 {
        font-family: 'Roboto', sans-serif;
        font-size: 60px;
    }
    h3{
        width: 300px;
    }

    .all {
        font-family: 'Roboto', sans-serif;
        padding-left: 200px;
        color: #000000;
    }

    .head1 {
        width: 310.8px;
        height: 43.34px;
        font-size: 26px;
        line-height: 26.36px;
        margin: 0;
    }

    .header1 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p1 {
        width: 400px;
        height: 100px;
        font-size: 20px;
        margin: 0;
    }

    .header2 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p2 {
        width: 300px;
        height: 100px;
        font-size: 20px;
        margin: 0;
    }

    .header3 {
        width: 300px;
        height: 40px;
        font-size: 28px;
        line-height: 15.6px;
        color: #1E4681;
        margin: 0;
    }

    .p3 {
        width: 300px;
        height: 70px;
        font-size: 20px;
        margin: 0;
    }
    
    .head2 {
        width: 500px;
        height: 43.34px;
        font-size: 60px;
        line-height: 26.36px;
        margin: 10px 0px 0px 0px;
    }
    .head1 {
        width: 800px;
        height: 43.34px;
        font-size: 60px;
        line-height: 26.36px;
        margin: 10px 0px 0px 0px;
    }
    li{
        font-size: 28px;
        padding-bottom: 18px;
    }

    .secont {
        width: 700px;
        height: 400px;
        font-size: 28px;
        line-height: 18px;
        margin: 0;
    }

    .first {
        flex-direction: column;
        font-size: 38px;
        width: 300px;
        margin: 0;
    }

    .wert {
        margin-left: 250px;
    }
    

    .count-people {
        position: absolute;
        width: 500px;
        height: 69px;
        left: 100px;
        top: 28px;
        bottom: 30px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        line-height: 101.38%;
    }

    .face {
        position: absolute;
        width: 400px;
        height: 200px;
        left: 0px;
        top: 280px;
        
    }

    .fb-ep {
        position: absolute;
        width: 40px;
        height: 40px;
        left: 330px;
        top: 400px;
    }

    .EP {
        position: absolute;
        width: 400px;
        height: 32.73px;
        left: 300px;
        top: 320px;
        font-family: 'Roboto Slab';
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 101.38%;
    }

    .ekatrina {
        position: relative;
        width: 1160px;
        height: 900px;
        background: #EFEFEF;
    }

    .metn {
        position: absolute;
        width: 500px;
        height: 300px;
        left: 21px;
        top: 18px;

        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;



        color: #000000;
    }

    .orta {
        position: absolute;
        width: 800px;
        height: 600px;
        left: 100px;
        top: 180px;

        background: #FFFFFF;
        box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
        border-radius: 13.9792px;
    }

    .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: 150px;
        padding-left: 150px;
    }

    .card {
        width: 400px;
        height: 240px;
        background: #FFFFFF;
        box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        margin-right: 30px;
        margin-left: 50px;
        margin-bottom: 20px;
    }

    .card img {
        width: 100%;
        height: 54%;
    }

    .H {
        font-family: 'Roboto', sans-serif;
        padding-left: 20px;
        font-weight: 700;
        font-size: 20px;
        margin: 0px;
        padding: 0px 0px 5px 5px;


    }

    p {
        margin: 5px 15px;
        padding: 0px 0px 0px 4px;

    }

    .main {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 400;
        padding: 0px 0px 0px 4px;


    }

    .different {
        font-family: 'Roboto', sans-serif;
        margin: 0px 0px 0px 5px;
        padding: 0px 0px 0px 5px;
        font-weight: 700;
        font-size: 18px;

    }

    .different-main {
        font-family: 'Roboto', sans-serif;
        margin: 0px;
        font-size: 18px;
        font-weight: 400;
        padding: 0px 0px 0px 4px;
    }

    .empty {
        display: none;
    }

    .header {
        margin: 20px 100px 40px 200px;
        font-family: 'Roboto Slab', serif;
        font-size: 14px;
        font-weight: 700px;
    
    }


    .fleg {
        display: flex;
        flex-direction: column;
       
    }

    .part {
        margin-left: 0px;
        padding-left: 0px;
    }

    .gulcannat span {
        font-size: 12px;
    }

    .date {
        font-size: 26px;
        font-weight: 700;
    }

    .price {
        font-size: 12px;
    }

    .amount {
        font-size: 37px;
    }

    .head td p {
        font-size: 12px;
    }

    .end span {
        font-size: 10px;

    }

    .table tr td {
        padding: 0;
       
    }
    
    .bottom p {
        font-size: 10px;
        width: 800px;
    }

    .list li img {
        width: 16px;
    }
    .section{
        width: 10
        00px;
    }
    .footeg{
        width: 1160px;
        height: 600px;
    }
}